    <header>
        <div class="header_top_wrap">
            <div class="logo_wrap" style="width: 20vw;">
                <div class="lob_logo" role="img" aria-label="Lobotomy Corporation Logo">
                    <a href="">
                        <div class="lob_logo_link">
                        </div>
                    </a>
                </div>
            </div>
            <div class="top_left_menu">
                <div class="top_left_menu_contain">
                    <a href="{{ lang["langSwitchPath"] }}" class="header_menu">
                        <span class="top_left_menu_lang_switch">
                            {{lang["langSwitch"]}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header_menu_wrap">
            <div class="header_menu">
                <div class="header_menu_item_wrap">
                    <span class="header_menu_item">
                        <a href="{{ lang["selfLang"] }}/company.html" class="header_menu">
                            Company
                        </a>
                    </span>
                    <span class="header_menu_item">
                        <a href="{{ lang["selfLang"] }}/vision.html" class="header_menu">
                            Future
                        </a>
                    </span>
                    <span class="header_menu_item">
                        <a href="{{ lang["selfLang"] }}/products.html" class="header_menu">
                            Products
                        </a>
                    </span>
                    <span class="header_menu_item">
                        <a href="{{ lang["selfLang"] }}/sustainability.html" class="header_menu">
                            Sustainability
                        </a>
                    </span>
                    <span class="header_menu_item">
                        <a href="{{ lang["selfLang"] }}/career.html" class="header_menu">
                            Career
                        </a>
                    </span>
                    <span class="header_menu_item">
                        <a href="{{ lang["selfLang"] }}/contact.html" class="header_menu">
                            Contact
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </header>