<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ lang["selfLang"] }}/LOB_main.css">
    <title>Lobotomy Corporation</title>
    <script src="{{ lang["selfLang"] }}/alert.js"></script>
</head>
<body>
{{header}}
    <div class="front_img">
        <div class="front_wrap">
            <div class="front_text_wrap">
                <div class="front_text">
                    {{ lang["faceTheFear"] }},<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ lang["buildTheFuture"] }}.
                </div>
            </div>
            <div class="front_button_wrap">
                <div class="front_button">
                    <a href="company.html" class="front_button">
                        <div class="front_button_link">
                            <div class="front_button_text">
                                LEARN MORE
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="reports">
        <div class="reports_wrap">
            <div class="reports_pane">
                <div class="founder_picture"></div>
                <div class="reports_pane_inner">
                    <div class="reports_title_wrap">
                        <div class="reports_title">
                            {{content['reports_dl_name']}}
                        </div>
                    </div>
                    <div class="reports_text_wrap">
                        <div class="reports_text">
                            {{content['reports_text']}}
                        </div>
                    </div>
                    <div class="reports_dl_wrap">
                        <div class="reports_dl_inner_wrap">
                            <div class="reports_dl">
                                <div class="reports_dl_button">
                                    <button class="reports_dl" onclick="alert('you can\'t view press release \nThis website is not real website')">
                                        {{lang["download"]}} : {{content['reports_name']}} {{lang["report"]}}
                                    </button>
                                </div>
                                <div class="reports_dl_button">
                                    <button class="reports_dl" onclick="alert('you can\'t view press release \nThis website is not real website')">
                                        {{lang["download"]}} : {{content['reports_name']}} {{lang["press_release"]}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>