@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{margin: 0; overflow-x: hidden; font-family: 'Noto Sans KR', sans-serif;}
header{width: 100vw; position: fixed; height: 20vh; max-height: 200px; background-color: black; margin-top: 0; z-index: 2; min-height: 100px;}
div.lob_logo{background: url('LOB_logo.jpg'); height: 11vh; background-size: contain; background-repeat: no-repeat; 
    margin-left: 2vw; margin-bottom: 1vh; width: 157px; float: left; position: relative; min-height: 42px;}
div.lob_logo_link{width: 157px; height: 11vh; min-height: 42px;}
div.top_left_menu{width: 40vw; height: 11vh; margin-right: 2vw; margin-bottom: 1vh; max-width: 400px; float: right; position: relative; min-height: 42px;}
div.top_left_menu_contain{text-align: right; color: aliceblue; height: 11vh; align-items: center; justify-content: flex-end; display: flex; min-height: 42px;}
span.top_left_menu_lang_switch{float: right; padding-right: 17px}
div.header_menu_wrap{text-align: center; height: 8vh; font-size: 100%; width: 100%; color:aliceblue; border-style: solid; display: flex; align-items: center;
    border-color:aliceblue; border-width: 0; border-top-width: 1px; overflow-x:visible; overflow-y: hidden; word-wrap: break-word; justify-content: center;
    min-height: 50px;}
div.header_menu_item_wrap{display: flex; justify-content: space-around; width: 100vw; opacity: 0%;
    animation-name: header_menu; animation-duration: 1s; animation-delay: 0.5s; animation-fill-mode: forwards; animation-iteration-count: 1;}
div.header_top_wrap{width: 100vw;}
div.test_scroll{height: 200vh;}
div.front_img{background: url("LOB_company.jpg"); background-size: cover; background-repeat: no-repeat; padding-top: 20vh; height: 70vh; width: 100vw; opacity: 0%;
    background-position: center; animation-name: front_img; animation-duration: 1s; animation-delay: 0.5s; animation-fill-mode: forwards; animation-iteration-count: 1;
    z-index: -1; min-height: 400px;}
div.front_text_wrap{padding-left: 10vw; padding-top: 20vh; color: white; animation-name: front_text; animation-duration: 1s; animation-delay: 0.5s; 
    animation-fill-mode: forwards; animation-iteration-count: 1;
    text-shadow: black 7px 0 7px, black 7px 0 7px, black 7px 0 7px, black 7px 0 7px, black 7px 0 7px, black 7px 0 7px; font-size: 30px;}
div.front_button_wrap{padding-left: 10vw; padding-top: 3vh; color: black; }
div.front_button{border-style: solid; border-width: 0; background-color: #fffea1; width: 120px; box-sizing: border-box; text-align: center; height: 5vh; min-height: 30px;
    max-height: 40px;}
div.front_button_text{display: inline-block; vertical-align: middle; font-size: 10pt;}
div.front_button_link{width: 100%; height: 5vh; align-items: center; justify-content: center; display: flex; min-height: 30px; max-height: 40px;}
div.front_button_link:hover{text-decoration: underline;}
div.front_button:hover{background-color: #c4c37b;}
/* section */
section{width: 100vw; height: 90vh; display: flex;}
/* reports section */
section.reports{align-items: center; justify-content: center;}
div.reports_wrap{width: 80vw; height: 50vh; min-height: 300px;}
div.reports_pane{background-color: #fffea1; width: 100%; height: 50vh; min-height: 300px; display: flex; justify-content: space-between; align-items: center;}
div.reports_pane_inner{width:40%}
div.reports_dl_wrap{display: flex; justify-content: space-around; align-items: center;}
div.reports_dl{width: 40%}
div.reports_title{width: 70%;}
div.reports_title_wrap{display: flex; justify-content: space-around; font-size: 20pt; margin: 10px; margin-left: 5px;}
div.reports_text_wrap{display: flex; justify-content: space-around; font-size: 10pt; align-items: center;  margin: 10px; margin-left: 5px;}
div.reports_text{width: 60%; word-break: keep-all;}
div.founder_picture{background: url('founder.png'); height: 50vh; width: 60%; background-size: cover; background-repeat: no-repeat;  background-position: center;
    min-height: 300px;}
div.reports_dl_button{border-width: 3px; margin: 5px; font-weight: bolder;}
button.reports_dl{border-color: rgb(0, 95, 41); background-color: rgb(0, 95, 41); color: white; border-width: 3px; 
    margin: 5px; border-style: solid; width: 200px; height: 50px; font-weight: bolder;}
button.reports_dl:hover{border-color: rgb(0, 71, 31); background-color: rgb(0, 71, 31); text-decoration: underline;}
div.reports_dl_inner_wrap{width: 60%;}
@media (max-width: 660px) {
    div.header_menu_item_wrap{display: none;}
}
@media (max-width: 860px) {
    section{height: 130vh;}
    div.reports_wrap{width: 90vw; height: 100vh;}
    div.reports_pane{height: unset; display: flex; flex-direction: column;}
    div.founder_picture{width: 100% !important; height: 40vh;}
    div.reports_pane_inner{width: 100% !important; height: 60vh; display: flex; flex-direction: column; justify-content: space-around; align-items: center;}
    div.reports_dl_inner_wrap{width: unset;}
    div.reports_dl_wrap{width: 100%;}
    div.reports_title_wrap{width: 100%; margin: 0; text-align: center;}
    div.reports_text_wrap{width: 100%; text-align: center; margin: 0}
    div.reports_dl{width: unset;}
}
@media (max-width: 1240px) {
    div.founder_picture{width: 40%;}
    div.reports_pane_inner{width: 60%;}
}
@keyframes front_img {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
@keyframes front_text {
    0%{padding-top: 25vh;}
    100%{padding-top: 20vh;}
}
@keyframes header_menu {
    0%{width: 50vw; opacity: 0%;}
    100%{width: 100vw; opacity: 100%;}
}
a.header_menu:hover{color: aliceblue; text-decoration: none;}
a.header_menu:link{color: aliceblue; text-decoration: none;}
a.header_menu:visited{color: aliceblue; text-decoration: none;}
a.front_button:hover{color: black; text-decoration: underline;}
a.front_button:link{color: black; text-decoration: none;}
a.front_button:visited{color: black; text-decoration: none;}